
.main_container{
    display: flex;
    margin: auto ;
    height: calc(100vh-243px); /*I Should check it more*/
    justify-content: center;
    max-width: 1125px;
    align-items: center;
    margin-top: 80px;
}

.main_container_text{
    display: flex;
    flex-direction: column;
    max-width: 595px;
    gap: 36px;
}

.main_container_text h1{
    font-weight: 800;
    font-size: 108px;
    line-height: 102px;
    margin: 0;
} 

.main_container_text p{
    font-weight: 600;
    line-height: 24px;
    color: #5A5959;
    max-width: 404px;

} 

.main_container_img img{
    width: 530px;
}

.buttons {
    display: flex;
    gap: 40px;
}




.extra_text p{
    font-weight: 400;
}

.market_places{
    display: flex;
    gap: 16px;
}


